<!DOCTYPE html>
<html lang="en" style="margin: 8px; border: 1px solid red;">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>seventh.wav</title>
</head>

<body style="margin: 8px; border: 1px solid green">
    BODY TAG with with margin 8px and solid green border of 1px.
    <p style="margin: 8px; border: 1px solid blue">
        P TAG with margin 8px and solid blue border of 1px.
    </p>
    <a href="/">
        <div style="margin: 16px; border: 1px solid red">
            DIV TAG with margin 16px and solid red border of 1px
        </div>
    </a>
    <a href="/">
        <div style="margin: 8px; border: 1px solid green">
            DIV TAG with margin 8px and solid green border of 1px
        </div>
    </a>
    <a href="/">
        <div style="margin: 32px; padding: 32px; border: 1px solid blue">
            DIV TAG with margin 32px, padding 32px and solid blue border of 1px
        </div>
    </a>
</body>

</html>